@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 18px;
  color: #786450;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  overflow-x: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
  width: 100%;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1165px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  [class*=__container] {
    padding: 0 10px 0 10px;
  }
}

[class*=page] {
  min-height: 100vh;
}
@media (max-width: 768px) {
  [class*=page] {
    min-height: 100vh;
  }
}
@media (max-height: 600px) {
  [class*=page] {
    min-height: 100vh;
  }
}

.wrapper {
  background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#EEBE6C", endColorstr="#CA7C4E",GradientType=1 );
  justify-content: center;
}
.wrapper__container {
  position: relative;
  border-radius: 4px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2745098039);
  background-color: #fff;
}

.profile__img {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 25px;
  cursor: pointer;
}
.profile__img img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -o-object-fit: fill;
     object-fit: fill;
}
.profile__name {
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
  color: #786450;
}
.profile .text-span {
  font-weight: 500;
  font-size: 14px;
}

.circle-1, .circle-2 {
  position: absolute;
  top: 65px;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 1px solid #786450;
  border-color: #786450 #786450 #786450 transparent;
  transition: all 1.5s ease-in-out;
}

.circle-2 {
  top: 60px;
  height: 170px;
  width: 170px;
  border-color: #786450 transparent #786450 #786450;
}

.profile__img:hover .circle-1, .profile__img:hover .circle-2 {
  transform: rotate(180deg);
}

.profile__img:hover .circle-2 {
  transform: rotate(-180deg);
}

.box {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  justify-content: center;
  align-items: center;
}
.box__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 30px 60px;
  text-align: center;
  align-self: center;
  background-color: rgba(153, 126, 98, 0.4470588235);
  transition: background-color 0.5s ease-in-out;
}
.box__column:not(:last-child) {
  border-bottom: 1px solid #fff;
}
.box__column:hover {
  background-color: rgba(170, 118, 63, 0.6352941176);
}
.box__column-profile {
  grid-row: span 3;
  padding: 70px 100px;
  align-self: flex-start;
  position: relative;
}
.box__number {
  font-size: 20px;
  font-weight: 600;
}
.box__text {
  font-size: 16px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.actions__btn {
  font-size: 16px;
  color: #786450;
  border: 1px solid #786450;
  padding: 8px 56px;
  border-radius: 29px;
  transition: all 0.3s ease-out;
  font-weight: 600;
}
.actions__btn:hover {
  color: #fff;
  background-color: #786450;
}

.svg__pointer {
  position: absolute;
  height: 30px;
  width: 30px;
  color: #786450;
  bottom: 82px;
  right: 47px;
  fill: #4e3e2e;
  opacity: 0;
  animation: moveAndClick 4s linear infinite normal 1s;
}
.svg__checkpoint {
  position: absolute;
  bottom: 133px;
  right: 54px;
}

.box__column-profile:hover .svg__pointer {
  animation: none;
}

@keyframes moveAndClick {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  25% {
    opacity: 1;
    transform: translate(-23px, -20px);
  }
  55% {
    transform: translate(-61px, -27px);
  }
  65% {
    transform: translate(-61px, -27px) scale(0.9);
  }
  75% {
    transform: translate(-61px, -27px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-61px, -27px);
    opacity: 0;
  }
}